special-vendored-path/* linguist-vendored
/assets/uikit/css/uikit.min.css linguist-vendored=true
/assets/uikit/css/uikit.css linguist-vendored=true
/assets/uikit/css/components/* linguist-vendored=true
/assets/uikit/js/uikit.min.js linguist-vendored=true
/assets/uikit/js/uikit.js linguist-vendored=true